@import '../../../styles.scss';

.menu {
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 30px;
    width: 60px;
    background-color: $mainColor;
    border-radius: 100px;


    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.icon {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    cursor: pointer;
}

.icon1 {
    width: 30px;
    height: 30px;
    margin-top: 25px;
    margin-left: 15px;
    cursor: pointer;
}

.title {
    color: white;
    font-size: small;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.node {
    background-color: $mainColor;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    text-align: center;
    font-size: small;
    cursor: move;
    margin-top: 12px;
    color: white;

    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.node:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }


  .node-container {
      position: relative;
      z-index: 2;
  }

  .seting-node {
      position: absolute;
      top: -5px;
      right: -13px;
      width: 18px;
      height: 18px;
      cursor: pointer;
  }


  .edge {
      position: relative;
      height: 200px;
      background-color: $mainColorLite;
      width: 4px;
      z-index: 1;
      border-radius: 10px;
      transform: rotate(20deg);
      color: $mainColor;
    }

    .routate-icon{
        width: 15px;
        height: 15px;
        margin-top: 50px;
        cursor: pointer;
    }

    .seting-icon-edge {
        width: 15px;
        height: 15px;
        cursor: pointer;
    }

    .token {
        width: 12px;
        height: 12px;
        border-radius: 20px;
        margin-left: -4px;
        background-color: #ffc107;
    }

    .white-bord{
        background-color: white;
        border-radius: 10px;
        position: absolute;
        right: 20px;
        top: 20px;
        bottom: 20px;
        width: 300px;

        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .container-board {
        height: 400px;
        overflow-y: scroll;
    }